.markbutton {
    color: #ffffff;
    text-decoration:none;
    font-weight:bold;
}

.buttonblock {
    border: 2px solid #ff4444;
    background-color: #333333;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left:3px;
    padding-right:3px;
    margin:1px;
    border-radius: 6px;
}

.title {
    font-weight:bold;
    font-size:large;
    margin-top:0px;
    text-align:center;
}

.presblock {
    background:#eeeeee;
    border:2px solid black;
    margin:2px;
    padding:2px;
}

.schedule {
    float:left;
    margin-top:0px;
    width:430px;
    overflow-y:scroll;
    overflow-x:auto;
    border:1px solid black;
}

.main {
    margin-left:435px;
}

.meter {
    width:700px;
}

.meterblock {
    text-align:center;
    margin-bottom:10px;
    font-weight:bold;
}

.instructions {
    font-weight:bold;
    margin-left:10px;
    margin-right:10px;
}

.headingblock {
    padding-top:2px;
    padding-bottom:6px;
    margin-top:10px;
    margin-left:2px;
    margin-right:2px;
    margin-bottom:10px;
    border:2px solid black;
}

.heading {
    font-weight:bold;
    font-size:large;
    text-align:center;
    margin-top:0px;
}

.video-js {
    margin-left:auto;
    margin-right:auto;
}

.vidblock {
    color:white;
    background:black;
    padding-bottom:20px;
    padding-top:10px;
}
